body {
    font-family: sans-serif;
    background: #111;
    color: #eee;
    padding: 20px;
}

input, button {
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.guess {
    border-top: 1px solid #444;
    margin-top: 10px;
    padding-top: 10px;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.square {
    width: 14px;
    height: 14px;
    display: inline-block;
}

.green { background: #2ecc71; }
.yellow { background: #f1c40f; }
.orange { background: #e67e22; }
.red { background: #e74c3c; }

.message {
    margin-top: 10px;
    font-weight: bold;
}

.pokemon-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sprite {
    width: 100px;
    height: 100px;
    image-rendering: pixelated;
}

body {
    background-color: #1e1e1e;
    font-family: Arial, sans-serif;
    color: white;
}

.guess-container-grid {
    display: grid;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-top: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.pokemon-card {
    background-color: #2b2b2b;
    border-radius: 12px;
    width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: visible; /* allow sprite to escape */
}

.card-header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #000;
    position: relative;
    border-top: #2b2b2b 1px solid;
    border-left: #2b2b2b 1px solid;
    border-right: #2b2b2b 1px solid;
}

.header-bg {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 4px 8px;
    border-radius: 6px;
}

.sprite {
    position: absolute;   /* outside normal flow */
    right: -20px;         /* pops outside card */
    top: 10%;             /* vertical center relative to card */
    transform: translateY(-50%);
    max-width: 250px;
    min-width: 150px;
    max-height: 250px;
    min-height: 150px;
    z-index: 0;           /* behind card-body */
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px 20px;
    border-top: 2px solid #ae4949;
    background-color: #2b2b2b; /* remove quotes */
    position: relative;
    z-index: 1;            /* above sprite */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}



.stat-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    border-radius: 6px;
}

.stat-name {
    font-weight: bold;
}

.stat-value {
    opacity: 0.9;
}

.result-card {
    margin: 25px auto;
    padding: 20px;
    background: #1b1b1b;
    border-radius: 16px;
    width: fit-content;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
