@import url('main.css');


.pokemon-card {
    border: 2px ridge black;
    padding: 1%;
    margin-top: 5px;
    background-color: #F8F8D6;
    opacity: 0.8;
    background-image:
        linear-gradient(0deg, black, transparent),
        repeating-radial-gradient(
            circle at 0 0,
            var(--type1) 0 10px,
            var(--type2) 10px 20px
        );
        color: black;
}

.sprite-container {
    width: 50px;  /* relative to viewport */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* crop if needed */
}
.sprite {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* preserve aspect ratio, fit inside */
    display: block;
}

.card-header {
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
}
.card-header h2 {
    margin: 0;
    margin-bottom: 10px;
}

.card-body {
    border: 2px ridge black;
}

.stat-row {
    display: flex;
    padding: 4px 8px;
    justify-content: space-between;
}
.stat-row.green {
    background: linear-gradient(90deg, rgb(114, 232, 114));
}

.stat-row.yellow {
    background: linear-gradient(90deg, rgb(246, 246, 120));
}

.stat-row.red {
    background: linear-gradient(90deg, rgb(217, 100, 100));
}
.stat-row.orange {
    background: linear-gradient(90deg, rgb(232, 134, 70));
}
