<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Website :3</title>
</head>

<body>

<div class="header">
    <h1 class="title">Website :3</h1>
</div>

<div class="main">

<nav class="main-tab">

<ul class="link-list">
    <li class="information">
        <p class="listheader">Information</p>
        <ul class="info-links">
            <li id="mainpage">Main Page</li>
        </ul>
    </li>
    <li class="game-list">
        <p class="listheader">Games</p>
        <ul class="game-links">
            <li id="wordlemon-link">
            <a href="{{ url_for('wordlemon') }}">Wordlemon</a>
            </li>
            <li id="word-guess">
            <a href="file:///home/kiri/Documents/web/pkmn/templates/test.html">Guess the Word</a>
            </li>
        </ul>
    </li>
</ul>

</nav>

<div class="main-box">
<h1 class="box-title">Information</h1>
<p class="main-paragraph">
    blah blah blah games and other stuffAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    <img src="/home/kiri/Pictures/Screenshots/Screenshot_20250409_175323.png" alt=""><br>
    :thumbsup:<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A<br>A
</p>
</div>

</div>

</body>

<div class="footer">
<p class="footer-text">
    basic footer text lololololo
</p>
</div>

</html>